<!DOCTYPE html>
<html lang="es">
<head>
    <title>Cuadrados de Temperaturas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=0.70">
</head>
<body>
    <div class="container">
        <h1>Buscar por fecha especifica</h1>
        <form method="POST" action="/">
            <label>Día </label>
            <input type="text" name="dia" id="btnDia">
            <br>
            <label>Mes</label>
            <input type="text" name="mes" id="btnMes">
            <br>
            <label>Año</label>
            <input type="text" name="ano" id="btnAno">
            <br>
            <br>
            <h2>Busqueda avanzada</h3>
            <label>Hora (Formato 23:59)</label>
            <br>
            <label>Desde</label>
            <input type="text" name="horax" id="btnHorax">
            <br>
            <label>Hasta</label>
            <input type="text" name="horay" id="btnHoray">
            <br>
            <br>
            <input type="submit" class="button2" value="Buscar">
            <br>
            <br>
            <a href="./graficos" class="button">Cambiar a gráficos</a>
        </form>
        
    </div> 
    <div class="container">
        <h1>El tiempo el {{dia}} desde {{horax}} hasta {{horay}}</h1>
    </div>
    <div class="container-fluid d-flex flex-wrap">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Resumen del día</h5>
                <p class="card-text">Temperatura maxima: {{tempMax}}ºC</p>
                <p class="card-text">Temperatura minima: {{tempMin}}ºC</p>
                <p class="card-text">Humedad maxima: {{humMax}}%</p>
                <p class="card-text">Humedad minima: {{humMin}}%</p>
                <p class="card-text">Presion maxima: {{presMax}}hPa</p>
                <p class="card-text">Presion minima: {{presMin}}hPa</p>
                <p class="card-text">Total precipitaciones: {{mmTotal}}mm</p>

            </div>
        </div>
        {% for fecha, tempertaura, humedad, presion, velocidad, direccion, precipitacion, uv, ppm, lux in zip(fechas, temperaturas, humedades, presiones, velocidades, direcciones, precipitaciones, uvs, ppms, luxes) %}
        <div class="">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ fecha }}</h5>
                    <p class="card-text">Temperatura: {{ tempertaura }}ºC</p>
                    <p class="card-text">Humedad: {{ humedad }}%</p>
                    <p class="card-text">Presión: {{ presion }}hPa</p>
                    <p class="card-text">Velocidad del viento: {{ velocidad }}km/h</p>
                    <p class="card-text">Dirección del viento: {{ direccion }}º</p>
                    <p class="card-text">Precipitaciones: {{ precipitacion }}mm</p>
                    <p class="card-text">Índice UV: {{ uv }}</p>
                    <p class="card-text">Calidad del aire: {{ ppm }}ppm</p>
                    <p class="card-text">Luxes: {{ lux }}lux</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
